{% extends 'base.html' %}

{% block title %}
Thermos -- Bookmarks tagged {{ tag }}
{% endblock %}

{% block content %}
    <article>
        <header>
            <h2>Bookmarks tagged {{ tag }}</h2>
        </header>
        <main>
            {% if tag.bookmarks.count() > 0 %}
                {% with bookmarks=tag.bookmarks %}
                    {% include 'bookmark_list.html' %}
                {% endwith %}
            {% else %}
                There are no bookmarks with this tag.
            {% endif %}
        </main>
    </article>
{% endblock %}
